*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/**HEADER**/
h1{
    color: darkmagenta;
    text-align: center;
    margin:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/**MAIN**/
p{
    text-align: center;
    font-size: 0.8rem;
    padding: 30px;
}

/**CONTAINER CLEARFIX**/
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card{
    width: 300px;
    float: left;
    background-color: black;
    margin: 15px 15px;
}

img{
    width:80px;
    height:80px;
    float: left;
}

.text{
    width: 220px;
    float: left;
    color: white;
    padding: 15px;
    line-height: 20px;
}

h2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    font-size: 15px;
    color: darkcyan;
}

h4{
    font-size: 10px;
    color: white;
}
